.containerChangePassword {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotPassword {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
  background: #F9F9FE;
  border-radius: 8px;
  padding: 30px;
  height: 540px;

  h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    font-size: revert;
  }

  h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    padding: 30px 0;
    font-size: revert;
  }

  .label {
    opacity: 0.5;
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  .item {
    margin-bottom: 1.5rem;
    padding: 20px 0;

    input {
      width: 100%;
      background: #F9F9FE;
      border: none;
      border-bottom: 2px solid #959a92
    }
  }

  p {
    opacity: 0.5;
  }

  .textUnderButton {
    opacity: 0.5;
    padding: 35px 57px 0;
  }

  .btn {
    text-align: center;
    padding-top: 60px;

    button {
      padding: 0 70px;
      @media (max-width: 767px) {
        padding: 0 50px;

      }
    }
  }
  .linkOnPageLogin{
    padding: 11px 100px 30px;
    text-align: center;
    color: #21268F;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
