.questionCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 413px;
  height: 300px;
  background-color: #F9F9FE;
  border-radius: 8px;

  .cardName {
    font-size: 22px;
    font-weight: 600;
  }

  .cardQuestion {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;


    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #2D2E46;

      span {
        margin-left: 5px;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }

  .cardButton {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;

    :nth-child(1) {
      box-shadow: none;
      background: #D7D8EF;
      border-radius: 30px;
      padding: 9px 36px;
      color: #21268F
    }

    :nth-child(2) {
      background-color: #21268F;
      border-radius: 30px;
      padding: 9px 40px;
      color: #ECECF9
    }
  }

}


