.questionCardContainer {
  background-color: #F9F9FE;
  border-radius: 8px;
  padding: 36px 30px 60px;
  max-width: 420px;
  width: 100%;

  .cardName {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.7;
    margin-bottom: 1.5rem;
  }

  .cardQuestion {
    margin-bottom: 4rem;

    h3 {
      font-size: 1.2rem;
      line-height: 1.5;
      font-weight: 600;

      span {
        margin-left: 5px;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }

  .cardButton {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 400px){
      justify-content: center;
    }
    :nth-child(1) {
      box-shadow: none;
      background: #D7D8EF;
      border-radius: 30px;
      padding: 9px 36px;
      color: #21268F;
      @media (max-width: 400px){
        flex: 0 1 100%;
        margin-bottom: 1rem;
      }
    }

    :nth-child(2) {
      background-color: #21268F;
      border-radius: 30px;
      padding: 9px 40px;
      color: #ECECF9;
      @media (max-width: 400px){
        flex: 0 1 100%;
      }
    }
  }

}

