.answerContainer {
  max-width: 420px;
  display: flex;width: 100%;
  flex-direction: column;
  padding: 30px 30px 60px;
  border-radius: 8px;
  background-color: #F9F9FE;

  .packName {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.7;
    margin-bottom: 1.5rem;
  }
  .answer,
  .question {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
    span {
      font-weight: 400;
      margin-left: 5px;
    }
  }

  .answer{
    margin-bottom: 2.5rem;
  }
  .radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    h3{
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0.8rem;
    }

    div {

      span {
        display: inline-block;
        font-weight: 400;
        margin: 0 0 1rem 1rem;
        font-size: 1.2rem;

      }
    }
  }

  .cardButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.1rem;
    @media (max-width: 400px){
      justify-content: center;
    }
    :nth-child(1) {
      box-shadow: none;
      background: #D7D8EF;
      border-radius: 30px;
      padding: 9px 36px;
      color: #21268F;
      @media (max-width: 400px){
       flex: 0 1 100%;
        margin-bottom: 1rem;
      }
    }

    :nth-child(2) {
      background-color: #21268F;
      border-radius: 30px;
      padding: 9px 70px;
      color: #ECECF9;
      @media (max-width: 400px){
        flex: 0 1 100%;
      }
    }
  }
}