.navigateContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 60px;
    background-color: #EBE0E9;
    margin-bottom: 1.6rem;

}

.notActive,
.active {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    opacity: 0.4;
    padding: 0 40px;
    color: inherit;
}

.active {
    background-color: #DCCCDB;
    opacity: 1;
    border-bottom: 3px solid #21268F;
}

.NotActive:hover {
    color: inherit;
}

@media (max-width: 767px) {
    .navigateContainer {
        min-height: 40px;
        margin-bottom: 1rem;
    }
}