.navigateContainer {
    grid-template-columns: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    min-height: 80px;
    margin-top: 2rem;


}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid black;
    width: 200px;
    height: 80px;
    position: relative;


}
.active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);

}

.NotActive {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #020a0a;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 200px;
    height: 80px;
}

/*.NotActive:last-child {*/
/*    margin-right: 0;*/
/*}*/

.NotActive:hover {
    color: inherit;
}

@media (max-width: 767px) {
    .NotActive,
    .active {
        font-weight: 500;
    }
}