.modal_style {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 395px;
  height: 221px;
  padding: 5px;
  z-index: 1000;
  transition-duration: 1000ms;

  .headerModal {
    display: flex;
    justify-content: space-between;
    width: 80%;

    h2 {
      font-weight: 500;
      font-size: 18px;
    }

    button {
      width: 14px;
      height: 14px;
      background: #fff;
      color: #2D2E46;
      box-shadow: none;

    }
  }

  .InputInModal {
    padding-top: 32px;
    width: 80%;

    .label {
      opacity: 0.5;
      margin-bottom: 0.5rem;
      display: inline-block;
      font-size: smaller;
    }

    input {
      border-bottom: 1px solid #00000052;
      width: 100%;
    }
  }

  .buttonContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;

    :nth-child(1) {
      padding: 9px 37px;
      color: #21268F;
      background-color: #D7D8EF;
      box-shadow: none;
    }

    :nth-child(2) {
      padding: 9px 37px;
      color: #ECECF9;
      background-color: #21268F;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  transition-duration: 1000ms;
}

